<div *ngIf="book">
  <form #form="ngForm" (ngSubmit)="save()">
    <label for="title"
      >Titel
      <label
        class="ng-invalid"
        [hidden]="!title.errors?.required || title.pristine"
      >
        is required!
      </label>
    </label>
    <input
      [(ngModel)]="book.title"
      #title="ngModel"
      type="text"
      id="title"
      name="title"
      required
      placeholder="Title"
    />
    <label for="subtitle"
      >Subtitel
      <label
        class="ng-invalid"
        [hidden]="!subtitle.errors?.required || subtitle.pristine"
      >
        is required!
      </label></label
    >

    <input
      [(ngModel)]="book.subtitle"
      #subtitle="ngModel"
      type="text"
      id="subtitle"
      name="subtitle"
      required
      placeholder="Subtitle"
    />
    <label for="abstract"
      >Abstract
      <label
        class="ng-invalid"
        [hidden]="!abstract.errors?.required || abstract.pristine"
      >
        is required!
      </label>
    </label>
    <textarea
      [(ngModel)]="book.abstract"
      #abstract="ngModel"
      type="text"
      id="abstract"
      name="abstract"
      required
      placeholder="Abstract"
      rows="7"
    ></textarea>

    <button type="submit">Save</button>
    <pre>{{ form.value | json }}</pre>
  </form>
  <button class="small" [routerLink]="['..']">Cancel</button>
</div>
