<div *ngIf="book">
  <form>
    <label for="title"></label>
    <input
      [(ngModel)]="book.title"
      #title="ngModel"
      type="text"
      id="title"
      name="title"
      required
      placeholder="Title"
    />
    <label for="subtitle"></label>
    <input
      [(ngModel)]="book.subtitle"
      #subtitle="ngModel"
      type="text"
      id="subtitle"
      name="subtitle"
      required
      placeholder="Subtitle"
    />
    <label for="abstract"></label>
    <textarea
      [(ngModel)]="book.abstract"
      #abstract="ngModel"
      type="text"
      id="abstract"
      name="abstract"
      required
      placeholder="Abstract"
      rows="7"
    ></textarea>

    <button type="submit">Save</button>
  </form>
  <button class="small" [routerLink]="['..']">Cancel</button>
</div>
