<div>
  <form [formGroup]="form" (ngSubmit)="save()">
    <label for="title"
      >Titel
      <label
        class="ng-invalid"
        [hidden]="!form.get('title').hasError('required')"
      >
        is required!
      </label>
      <label
        class="ng-invalid"
        [hidden]="!form.get('title').hasError('minlength')"
      >
        is too short!
      </label>
    </label>
    <input formControlName="title" />
    <label for="subtitle"
      >Subtitel
      <label
        class="ng-invalid"
        [hidden]="!form.get('subtitle').hasError('required')"
      >
        is required!
      </label></label
    >

    <input formControlName="subtitle" />
    <label for="abstract"
      >Abstract
      <label
        class="ng-invalid"
        [hidden]="!form.get('abstract').hasError('required')"
      >
        is required!
      </label>
    </label>
    <textarea formControlName="abstract"></textarea>
    <div formGroupName="publisher">
      <label
        class="ng-invalid"
        [hidden]="
          !form
            .get('publisher')
            .get('name')
            .hasError('minlength')
        "
      >
        is not Ute!
      </label>
      <input formControlName="name" />
    </div>

    <button [disabled]="form.invalid" type="submit">Save</button>
    <pre>{{ form.value | json }}</pre>
  </form>
  <button class="small" [routerLink]="['..']">Cancel</button>
</div>
